@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --animate-slide-in-right: slide-in-right 0.3s ease-out forwards;
  --animate-slide-in-bottom: slide-in-bottom 0.3s ease-out forwards;

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-in-bottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}